* {
    margin: 0;
    padding: 0;
}

body {
	color: #bbb;
    background: #f2f6f8;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
ul, ol {
	list-style: none;
}

.FL {
    float: left;
}
.FR {
    float: right;
}
nav {
    box-shadow: 0 0 10px;
    overflow: hidden;
}
nav ul li{
	display: inline-block;
    position: relative;
}
nav ul li a {
    color: #aabac3;
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    padding: 15px;
}
.counter {
	background: #26b9b9;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    width: 18px;
    display: inline-block;
    text-align: center;
    height: 18px;
    line-height: 18px;
    position: absolute;
    right: 20%;
    top: 20%;
}

/* Notifications container */
#notify-wrapper {
    background: #e9eff2;
    border-radius: 10px;
    width: 360px;
    overflow: hidden;
    display: none;
}
#notify-wrapper .header {
    background: #fff;
    border-bottom: 1px solid #ccd8de;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    position: relative;
    text-align: center;
}
#notify-wrapper .header .counter {
    border-radius: 12px;
    position: static;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.notify-menu {    
    clear: both;
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    font-size: 10px;
    display: none;
}

.notify-menu li {
    display: inline-block;
    float: left;
    text-transform: lowercase;
    padding: 1px 0;
    margin: 0 35px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.notify-list {
    color: rgb(102, 102, 102);
    cursor: pointer;
    display: block;
    float: left;
    text-align: left;
    width: 100%;
    padding: 0;
    position: relative;
}
.notify-list li {
    border-bottom: 1px solid #ccd8de;
    color: #929da8;
    line-height: 44px;
	overflow: hidden;
    padding: 15px;
}
.notify-list li .actor {
    color: #747f8b;
    font-weight: bold;
}
.notify-list li.unread {
    background: #fff;
    margin: 0 0 2px 0;
}
.notify-list .icon {
    width: 44px;
    height: 44px;
    border-radius: 22px;
    display: block;
    float: left;
    margin-right: 15px;
}

.notify-list .msg {
    display: block;
    margin-right: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
}

.notify-list .close {
    cursor: pointer;
    display: block;
    float: right;
}

/* Avatars */
.avatar {
    background: no-repeat url('../images/avatars.jpg') center;
    width: 50px;
    height: 50px;
    display: block;
}
.af1 {
    background-position: 10px 10px;
}